<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="text my-4 py-1 pl-3">
    <p><%=@question%><br>-You</p>
  </div>
  <div class="text coach my-4 py-1 pl-3">
    <p><b><%=@answer%></b><br>-Your coach</p>
  </div>
  <%= link_to "Ask a new question", '/ask' %>
</div>
